body
{
    background-color: darkgray;
    margin:0;
}

.container .row .col-xl,.container .row .col-md,.container .row .col-lg
{
    background-color: floralwhite;
    margin: 5px;
    border:2px solid black


}
.container .row .col-xl div,.container .row .col-md div,.container .row .col-lg div
{
    background-color: darksalmon;
    padding: 2px;
    border: 2px solid black;
    position: relative;
    text-align:center;
    width:30%;
    margin:auto;
}
.container .row .col-xl p,.container .row .col-md p,.container .row .col-lg p{
    margin:25px 5px 5px 20px
}
.container
{
    margin-top:100px !important;
    margin-bottom:100px !important;
}
@media(min-width:768px)
{
    #md,.navbar-toggler
    {
        display:none; 
    }
}
#md
{
    list-style: none;
    text-decoration:none;
}
nav 
{
    color:white;
    font-size:2em;
    text-align:center;
    float:auto;
}
@media(max-width:320px)
{
    nav
    {
        font-size:1em !important;
    }
}
#hel
{
    width:50px !important;
    background-color: black !important;
    color:green !important;
}